<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Suchary</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
<div id="menu">
    <a th:href="@{/}" class="menu-item">Strona główna</a>
    <a th:href="@{/categories}" class="menu-item">Kategorie</a>
    <a th:href="@{/users}" class="menu-item">Użytkownicy</a>
    <a th:href="@{/jokes/add}" class="menu-item">+ Dodaj nowy żart +</a>

    <div style="clear: both;"></div>
</div>
<h1 class="header">Lista Kategorii</h1>

<div id="wrapper">
    <table class="styled-table">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.name}">name</td>
            <td>Edytuj</td>
            <td>Usuń</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>