<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowy żart</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
    <h1 class="header">Dodaj nowy żart</h1>

    <div id="form-container">
        <form>
            <input type="text" placeholder="Tytuł">
            <textarea rows="7" placeholder="żart"></textarea>

            <h3>Kategorie</h3>
            <div th:each="category : ${categories}">
                <input th:attr="id=${category.id}" type="checkbox">
                <label th:attr="for=${category.id}" th:text="${category.name}">Kategoria</label>
            </div>

            <input type="submit" value="Dodaj">

        </form>
    </div>
</body>
</html>